* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: none;
}
i,
a {
  font-style: normal;
  display: block;
  float: left;
}
li {
  list-style: none;
}
.swiper-container,
.swiper-wrapper,
.swiper-slide {
  width: 15rem;
  height: 100%;
}
.zc {
  display: none;
  width: 15rem;
  height: 26.68rem;
  background: url(../img/手机网站.png);
  background-size: 100%;
}
.herd {
  font-size: 0.72rem;
  line-height: 1.76rem;
  width: 15rem;
  height: 1.76rem;
  position: fixed;
  z-index: 100000;
}
.herd > a {
  width: 0.4rem;
  height: 0.66rem;
  margin: 20px 28px;
  background: url(../img/返回.png) no-repeat;
  background-size: 100%;
}
#zctext {
  position: absolute;
  left: 6.76rem;
  font-weight: 500;
  color: white;
}
.inpu {
  font-size: 0.56rem;
  width: 13.8rem;
  height: 5.96rem;
  position: absolute;
  top: 2.76rem;
  margin-left: 0.6rem;
  border-radius: 0.2rem;
  background-color: #fafafa;
}
#inpt1 {
  background: url(../img/手机.png) no-repeat;
  width: 0.56rem;
  height: 0.94rem;
  margin-left: 0.54rem;
  margin-top: 0.56rem;
  background-size: 100% ;
}
#inpt2 {
  background: url(../img/形状-125.png) no-repeat;
  width: 0.8rem;
  height: 0.62rem;
  margin-left: 0.4rem;
  margin-top: 0.68rem;
  background-size: 100% ;
}
#inpt3 {
  background: url(../img/形状-123-拷贝-2.png) no-repeat;
  width: 0.66rem;
  height: 0.78rem;
  margin-top: 0.5rem;
  margin-left: 0.48rem;
  background-size: 100% ;
}
.inpu > li {
  border-bottom: 1px solid #c8c7cc;
  height: 1.98rem;
  line-height: 1.98rem;
}
#yzm {
  color: #ff9a14;
  margin-left: 1.18rem;
}
.inpu > li > input {
  border: none;
  width: 6.88rem;
  margin-left: 0.4rem;
  background-color: #FAFAFA;
}
#zcbdl {
  width: 13.8rem;
  height: 1.6rem;
  background-color: #ff9a14;
  font-size: 0.56rem;
  position: absolute;
  left: 0.6rem;
  top: 9.72rem;
  border-radius: 0.2rem;
  color: white;
  border: none;
}
.tuoxiang {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  background-color: #FFFFFF !important;
  position: absolute;
  top: 2.76rem;
  left: 5.9rem;
  background: url(../img/形状-27.png) no-repeat;
  background-size: 100%;
}
.user {
  width: 13.8rem;
  height: 3.92rem;
  background-color: #FAFAFA;
  position: absolute;
  left: 0.6rem;
  top: 6.96rem;
  border-radius: 0.2rem;
}
.user > li {
  height: 1.94rem;
  font-size: 0.56rem;
  line-height: 1.9rem;
}
.user > li > input {
  margin-left: 0.56rem;
  border: none;
}
#username {
  border-bottom: 1px solid #C8C7CC;
}
#wjmm {
  width: 14.4rem;
  color: white;
  font-size: 0.5rem;
  position: absolute;
  top: 11.3rem;
  text-align: right;
}
.dlbuton {
  top: 12.8rem !important;
}
.zcxyh {
  width: 13.8rem;
  height: 1.6rem;
  top: 14.78rem !important;
  border: 1px solid white !important;
  font-size: 0.56rem;
  position: absolute;
  left: 0.6rem;
  border-radius: 0.2rem;
  color: white;
  background-color: transparent!important ;
}
.iputzhmm {
  height: 7.96rem;
}
#rxbz {
  font-size: 0.5rem;
  width: 13.8rem;
  left: 0.6rem;
  position: absolute;
  top: 10.96rem;
  color: white;
}
#rxbz > i {
  background: url(../img/形状-230.png) no-repeat;
  background-size: 100% ;
  width: 0.6rem;
  height: 0.6rem;
}
#rxbz > a {
  color: #FF9A14;
}
.zhbxgmm {
  top: 12.56rem !important;
}
#zhmm {
  display: none;
}
#dl {
  display: none;
}
#zym {
  display: block;
}
#shouYe {
  display: block;
}
#shouYe > .shouYeherd {
  position: absolute ;
  z-index: 100;
  width: 15rem;
  background-color: transparent;
  font-size: 0.56rem;
  color: white;
  height: 1.76rem !important;
}
#shouYe > .shouYeherd > select {
  border: none;
  margin-left: 0.4rem;
  color: white;
  background: transparent;
  float: left;
  margin-top: 0.5rem;
}
#shouYe > .shouYeherd > select > option {
  color: black;
}
#shouYe > .shouYeherd > li {
  position: absolute;
  width: 9.42rem;
  height: 1.2rem;
  background-color: #C8C7CC;
  border-radius: 0.2rem;
  left: 2.64rem;
  top: 0.24rem;
}
#shouYe > .shouYeherd > li > a {
  background: url(../img/icon_bar_home_off-1.png) no-repeat;
  background-size: 100% ;
  width: 0.56rem;
  height: 0.56rem;
  position: absolute;
  top: 0.3rem;
  left: 0.4rem;
}
#shouYe > .shouYeherd > li > input {
  position: absolute;
  left: 1.2rem;
  height: 1.2rem;
  font-size: 0.46rem !important;
  background-color: #C8C7CC;
  color: #2b4553;
  width: 8.06rem;
  border: none;
}
#gjtub {
  width: 0.74rem;
  height: 0.62rem;
  top: 0.16rem;
  position: absolute;
}
.gj {
  width: 2.16rem;
  height: 0.62rem;
  color: white;
  position: absolute;
  right: 0;
  top: 0.36rem;
}
.gj > i {
  background: url(../img/形状-209.png) no-repeat;
  background-size: 100%;
}
#guanjia {
  margin-left: 0.2rem;
  font-size: 0.6rem;
  margin-left: 0.9rem;
}
#swiper-container2 {
  width: 15rem;
  height: 7.54rem;
}
#swiper-wrapper2 > div > img {
  width: 100%;
  height: 100%;
}
#swiper-wrapper2 > .fyq2 {
  background-color: black!important;
  z-index: 100;
}
.fyq2 > .swiper-pagination-bullet {
  background-color: white;
  width: 0.4rem;
  height: 0.4rem;
}
.fyq2 > .swiper-pagination-bullet-active {
  background-color: red;
}
.chuyouxuanxiang {
  width: 15rem;
  height: 5.7rem;
  background-color: #FFFFFF;
  overflow: hidden;
}
.chuyouxuanxiang > ul {
  position: flex;
  width: 15rem;
  height: 3.4rem;
  background-color: #FFFFFF;
  margin: 0.4rem 0rem;
}
#chuyouxuanxiangul > li > i {
  width: 2rem;
  height: 2rem;
  border: 1px solid #C8C7CC;
  border-radius: 50% ;
}
#chuyouxuanxiangul > li > span {
  clear: both;
  font-size: 0.58rem;
  color: #787a7b;
}
#chuyouxuanxiangul > li {
  float: left;
  width: 2rem;
  height: 2.76rem;
  margin: 0 0.87rem;
  text-align: center;
}
#chuyouxuanxiangul > li:nth-child(1) > i {
  background-color: #4ab7f9;
}
#chuyouxuanxiangul > li:nth-child(2) > i {
  background-color: #f9b707;
}
#chuyouxuanxiangul > li:nth-child(3) > i {
  background-color: #ff6767;
}
#chuyouxuanxiangul > li:nth-child(4) > i {
  background-color: #89c131;
}
#chuyouxuanxiangul > li > i > img {
  width: 70%;
  height: 70%;
  margin: 0.3rem;
}
#tj > i {
  margin-top: 0.32rem;
  margin-left: 0.4rem;
  background: url(../img/形状-88.png) no-repeat;
  background-size: 100%;
  width: 0.64rem;
  height: 0.6rem;
}
#tj {
  border-top: 1px solid #C8C7CC;
  width: 14rem;
  height: 1.6rem;
  color: #787A7B;
  font-size: 0.5rem;
  line-height: 1.2rem;
  margin: -0.4rem 0 0 0.6rem;
}
#tj > a {
  font-size: 0.62rem;
  font-weight: bold;
  color: #ff4e07;
}
#tj > span {
  margin-left: 0.2rem;
}
.chuyouxuanxiang > hr {
  width: 15rem;
  height: 0.4rem;
  border: 1px solid #c8c7cc;
  background-color: #efeff4;
  border-left: none;
}
.jrtj {
  width: 15rem;
  height: 1.84rem;
  line-height: 1.84rem;
}
.jrtj > i {
  background: url(../img/形状-212.png) no-repeat;
  background-size: 100%;
  width: 0.76rem;
  height: 0.72rem;
  margin: 0.54rem 0.54rem 0 0.4rem;
}
.jrtj > h4 {
  font-size: 0.7rem;
  float: left;
}
.jrtj > span {
  font-size: 0.5rem;
  margin-left: 4.5rem;
  color: #787A7B;
  word-spacing: 0.2rem;
}
.jndfj {
  width: 15rem;
  height: 9.16rem;
  position: relative;
}
#jndfq {
  width: 15rem;
  height: 6.48rem;
}
#jndfq > img {
  width: 100%;
  height: 100%;
}
#j,
#h,
#wztubiao {
  width: 1.16rem;
  height: 1.74rem;
  color: white;
  font-size: 0.56rem;
  text-align: center;
  position: absolute;
  top: 0rem;
  line-height: 1.14rem;
}
#j {
  background: url(../img/形状-213.png) no-repeat;
  background-size: 100% 100%;
  left: 0.6rem;
}
#h {
  background: url(../img/形状-2131.png) no-repeat;
  background-size: 100% 100%;
  left: 1.96rem;
}
#wztubiao {
  width: 2.38rem;
  height: 0.6rem;
  background: url(../img/形状-25.png) no-repeat;
  background-size: 30% 100%;
  right: 1rem;
  line-height: 0.54rem;
  top: 5rem;
}
.jndtext {
  width: 15rem;
  height: 2.6rem;
}
.jndtext > h6 {
  font-size: 0.6rem;
  margin-left: 0.32rem;
  margin-top: 0.4rem;
}
.jndtext > p {
  margin-top: 0.6rem;
  margin-left: 0.62rem;
  font-size: 0.5rem;
  float: left;
  width: 9.34rem;
  overflow: hidden;
  text-overflow: ellipsis ;
  white-space: nowrap;
}
.jndtext > span {
  font-size: 0.64rem;
  color: red;
  margin-left: 2rem;
}
.jndtext > span > a {
  font-size: 0.28rem;
  position: absolute;
  bottom: 0.3rem;
  right: 0.4rem;
}
.dibudaohang {
  position: relative;
  width: 15rem;
  height: 2rem;
}
.bhao,
.bhaoul {
  display: none;
  width: 15rem;
  height: 8rem;
  background-color: black;
  opacity: 0.7;
  position: fixed;
  top: 5%;
  z-index: 1000;
}
.bhaoul > li {
  width: 15rem;
  height: 3.1rem;
  clear: both;
}
.bhaoul > li > i {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid white;
  margin: 0.56rem 0.4rem;
}
.bhaoul > li > i > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.bhaoul {
  opacity: 1;
  background-color: transparent;
}
.bhaoul > li > p {
  color: white;
  font-size: 0.56rem;
  line-height: 0.8rem !important;
  width: 8.7rem;
  height: 2.12rem;
  position: relative;
  top: 0.5rem;
  left: 0.2rem;
}
.bhaoul > li > button {
  width: 3.6rem;
  height: 1.2rem;
  background-color: #ff9a14;
  border-radius: 0.2rem;
  border: none;
  position: relative;
  left: 8rem;
  top: -1.2rem;
  font-size: 0.64rem;
  color: white;
}
.bhaoul > li > button > img {
  width: 0.62rem;
  height: 0.62rem;
}
.bhaoul > li:nth-child(2) {
  clear: both;
}
.bhaoul > button {
  left: 2.5rem;
  border-radius: 0.2rem;
  color: #FF9A14;
  width: 4rem;
  height: 1.2rem;
  border: 1px solid #FF9A14;
  background-color: transparent;
  position: relative;
  font-size: 0.56rem;
}
.bhaoul > button > img {
  width: 0.52rem;
  height: 0.56rem;
}
#bhaoulclose {
  color: white;
  position: absolute;
  right: 0.2rem;
  width: 0.6rem;
  height: 0.6rem;
  background: transparent;
  border: none;
}
#flye {
  width: 15rem;
  height: 100%;
}
#flye > .herd {
  background-color: #0ca3f0;
  line-height: 1.76rem;
}
.herd > i {
  background: url(../img/返回.png) no-repeat;
  background-size: 100% 100%;
  width: 0.38rem;
  height: 0.66rem;
  margin: 0.24rem 0.4rem;
}
#ishous {
  width: 0.62rem;
  height: 0.62rem;
  background: url(../img/圆角矩形-1.png) no-repeat;
  background-size: 100% 100%;
  margin-left: 13.8rem;
  margin-top: 0.7rem;
}
.flye_chuyouxuanxiangul {
  position: relative;
  top: 1.76rem;
  height: 20rem !important;
}
.flye_chuyouxuanxiangul > li {
  clear: both;
  width: 15rem !important;
  height: 3.44rem;
  border-bottom: 1px solid #C8C7CC;
  text-align: left!important;
  margin-left: 0!important;
}
.flye_chuyouxuanxiangul > li > i {
  clear: both;
  margin-top: 0.3rem;
}
.flye_chuyouxuanxiangul > li > span {
  position: relative;
  top: -1.6rem;
  left: 0.2rem;
}
.flye_chuyouxuanxiangul > li > p {
  width: 10.2rem;
  font-size: 0.06rem;
  position: relative;
  left: 2.2rem;
  top: -1.6rem;
  color: #787A7B;
}
.flye_chuyouxuanxiangul > li > a {
  position: relative;
  left: 14rem;
  top: -2.64rem;
  width: 0.3rem;
  height: 0.4rem;
  background: url(../img/disclosure-arrow.png) no-repeat;
  background-size: 100% 100% ;
}
#zym > .swiper-pagination {
  width: 15rem;
  height: 2rem;
  background-color: white;
  position: fixed;
  top: 92.5%;
}
#zym > .swiper-pagination1 > .swiper-pagination-bullet {
  width: 3.74rem;
  height: 2rem;
  border-radius: 0.2rem;
  margin: 0;
  color: white;
  line-height: 3rem;
  font-size: 0.64rem;
}
#zym > .swiper-pagination1 > .swiper-pagination-bullet > .className {
  line-height: 2rem;
}
#zym > .swiper-pagination1 > .swiper-pagination-bullet > .className > img {
  width: 0.5rem !important;
  height: 0.5rem !important;
}
#zym > .swiper-pagination1 > .swiper-pagination-bullet-active {
  background-color: #FF9A14;
}
.touxiang {
  position: relative;
  width: 15rem;
  height: 6.72rem;
  background: url(../img/tc-17.png) no-repeat;
  background-size: 100% 100%;
  text-align: center;
}
.touxiangimg {
  background: url(../img/xz-27.png) no-repeat;
  background-size: 100% 100%;
  width: 2.6rem;
  height: 2.6rem;
  border: 1px solid #64c5f6;
  background-color: #FFFFFF;
  border-radius: 50%;
  margin: 1.4rem 41.5%;
  position: absolute;
}
.touxiang > button {
  width: 3.36rem;
  height: 1rem;
  background-color: #ff9a14;
  color: white;
  border-radius: 0.6rem;
  border: none;
  margin-top: 4.4rem;
}
#myxxul > li {
  width: 13.8rem;
  height: 2rem;
  line-height: 2rem;
  margin: auto;
  border-bottom: 1px solid gray;
}
#myxxul > li > i {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  line-height: 1.2rem;
  text-align: center;
  background-color: #45c7f9 ;
  margin-top: 0.4rem;
}
#myxxul > li > i > img {
  width: 0.6rem;
  height: 0.66rem;
}
#myxxul > li > span {
  color: #808080;
  font-size: 0.58rem;
  display: inline-block;
  margin-left: 0.4rem;
}
#myxxul > li > a {
  display: inline-block;
  width: 0.3rem;
  height: 0.52rem;
  background: url(../img/disclosure-arrow.png) no-repeat;
  background-size: 100% 100%;
  position: relative;
  left: 12rem;
  top: 1rem;
}
#myxxul > li:nth-child(2) > i {
  background-color: #ff8534;
}
#myxxul > li:nth-child(3) > i {
  background-color: #ffba34;
}
#myxxul > li:nth-child(4) > i {
  background-color: #68d360;
}
#myxxul > li:nth-child(5) > i {
  background-color: #45c7f9;
}
#myxxul > li:nth-child(6) > i {
  background-color: #fbba1d;
}
#jd {
  background-color: #0ca3f0!important;
  width: 15rem;
  height: 1.76rem;
  line-height: 1.76rem;
  font-size: 0.7rem;
  text-align: center;
}
#jdleftlist > li {
  width: 3rem;
  height: 1.6rem;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  font-size: 0.58rem;
  line-height: 1.6rem;
  text-align: center;
}
#jdrmtj {
  width: 15rem;
  height: 1.6rem;
  line-height: 1.6rem;
  font-size: 0.58rem;
}
#jdrmtjspan1,
#jdrmtjspan2 {
  margin-left: 0.6rem;
}
#jdrmtj > i {
  display: inline-block;
  width: 0.5rem;
  height: 0.6rem;
  background: url(../img/xz-132.png) no-repeat;
  background-size: 100% 100%;
  position: relative;
  left: 3.4rem;
  top: 0.46rem;
}
#jdrmtjspan2 {
  margin-left: 1.8rem;
}
